.woomizer-product-grid-picker {
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .woomizer-product-grid-picker * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .woomizer-product-grid-picker .product-grid-square {
    height: 100%;
    float: left;
    padding: 1px; }
    .woomizer-product-grid-picker .product-grid-square:first-child {
      margin-top: 0; }
    .woomizer-product-grid-picker .product-grid-square:hover .inner,
    .woomizer-product-grid-picker .product-grid-square.highlight .inner {
      background: #0073aa; }
    .woomizer-product-grid-picker .product-grid-square:hover {
      cursor: pointer; }
  .woomizer-product-grid-picker .inner {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background: rgba(0, 115, 170, 0.2); }

.woomizer-product-grid-input:-moz-read-only {
  background-color: #ffffff; }

.woomizer-product-grid-input:read-only {
  background-color: #ffffff; }
