.woomizer-toggle {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
  .woomizer-toggle.woomizer-visible {
    -webkit-animation: woomizerVisible .3s ease-in-out;
    -o-animation: woomizerVisible .3s ease-in-out;
    animation: woomizerVisible .3s ease-in-out; }
  .woomizer-toggle.woomizer-hidden {
    overflow-y: hidden;
    max-height: 0; }

@-webkit-keyframes woomizerVisible {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  1% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes woomizerVisible {
  0% {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0); }
  1% {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes woomizerVisible {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  1% {
    opacity: 0;
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
